<html>
    <head>
        <meta charset="utf-8" />
        <title><%= fontTitle %> Icon Font Review</title>
        <link type="text/css" rel="stylesheet" href="css/<%= fontName %>.css" />
        <style type="text/css">
            body {
                background-color: #eaeaea;
            }
            div.header {
                position:absolute;top:0;left:0;width:100%;height:36px;color:#fff;background-color:#289770;padding:42px 0;
            }
            div.header span.title {
                font-size:30px;margin-left:100px;
            }
            div.header span.info {
                font-size:18px;margin-left:30px;
            }
            div.header a.download, div.header a.download:link, div.header a.download:active, div.header a.download:hover, div.header a.download:visited {
                font-size:15px;text-decoration:none;color:#fff;border:3px solid #fff;border-radius:5px;padding:6px;margin-left:100px;
            }
            div.content {
                position:absolute;top:120px;left:0;width:100%;padding:50px 0;
            }
            div.content div.group {
                margin: 0 50px;
            }
            div.content ul {
                margin:0 50px;
            }
            div.content ul li {
                float:left;list-style:none;padding:0;margin:20px;
            }
            div.content ul li div.box {
                height:250px;text-align:center;width:120px;background-color:#fff;padding: 8px;border:3px solid #000;border-radius: 10px;overflow: hidden;word-break:break-all;
            }
            div.content ul li div.box p {
                height: 50px;
            }
            div.content ul li div.box i {
                font-size:60px;
            }
            .clear:after {
                content: '\20';display: block;height: 0;clear: both;
            }
            .clear {
                *zoom: 1;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <span class="title"><%= fontTitle %> Icon Font Review</span>
            <span class="info">Total Number : <%= total %></span>
            <!-- <span class="info">Last Modified : {{date}}</span> -->
            <!-- <a class="download" href="<%= zipFile %>">Download ZIP Package</a> -->
        </div>
        <div class="content">
            <% var count=0; for(var key in glyphs) { if(count>0){break;} %>
            <div class="group">
                <h2><%= groups[count] %></h2><% count++; %>
                <hr/>
                <ul class="clear"><% for(var j=0; j<glyphs[key].length; j++) { %>
                    <li>
                        <div class="box">
                            <i class="<%= className %>">&#x<%= glyphs[key][j].content %>;</i>
                            <p class="name"><%= glyphs[key][j].name %></p>
                            <p>&amp;#x<%= glyphs[key][j].content %>;</p>
                        <div>
                    </li><% } %>
                </ul>
                <div style="clear:both"></div>
            </div><% } %>
        </div>
    </body>
</html>
